multinode: false

modelArtifacts:
  uri: "hf://deepseek-ai/DeepSeek-V3.1"
  name: "deepseek-ai/DeepSeek-V3.1"
  size: 1000Gi
  authSecretName: "llm-d-hf-token"

routing:
  servicePort: 8000
  proxy:
    image: ghcr.io/llm-d/llm-d-routing-sidecar:v0.3.0
    connector: nixlv2
    secure: false

decode:
  parallelism:
    tensor: 8
    data: 1
  create: true
  replicas: 1
  monitoring:
    podmonitor:
      enabled: true
      portName: "metrics"  # decode vLLM service port (from routing.proxy.targetPort)
      path: "/metrics"
      interval: "30s"
  containers:
  - name: "vllm"
    image: ghcr.io/llm-d/llm-d-cuda-dev@sha256:ee286539334e853f8c1559e9ad0b7d5ca3a401f19a88d23aee15b897108d6654
    modelCommand: vllmServe
    args:
      - "--async-scheduling"
      - "--tensor-parallel-size"
      - "8"
      - "--speculative-config"
      - '{"num_speculative_tokens": 3, "method":"mtp"}'
      - "--disable-uvicorn-access-logs"
    env:
      - name: VLLM_MOE_USE_DEEP_GEMM
        value: "0"
      - name: VLLM_USE_DEEP_GEMM
        value: "1"
      - name: HF_HUB_CACHE
        value: "/var/cache/huggingface"
    ports:
      - containerPort: 8200
        name: metrics
        protocol: TCP
    resources:
      limits:
        memory: 1000Gi
        cpu: "64"
        nvidia.com/gpu: 8
      requests:
        memory: 1000Gi
        cpu: "64"
        nvidia.com/gpu: 8
    mountModelVolume: true
    volumeMounts:
      - name: dshm
        mountPath: /dev/shm
      - name: hf-cache
        mountPath: /var/cache/huggingface
      - name: jit-cache
        mountPath: /var/cache/vllm
    startupProbe:
      httpGet:
        path: /v1/models
        port: 8200
      initialDelaySeconds: 15
      periodSeconds: 30
      timeoutSeconds: 5
      failureThreshold: 60
    livenessProbe:
      httpGet:
        path: /health
        port: 8200
      periodSeconds: 10
      timeoutSeconds: 5
      failureThreshold: 3
    readinessProbe:
      httpGet:
        path: /v1/models
        port: 8200
      periodSeconds: 5
      timeoutSeconds: 2
      failureThreshold: 3
  volumes:
  - name: hf-cache
    hostPath:
      path: /mnt/local/hf-cache
      type: DirectoryOrCreate
  - name: jit-cache
    hostPath:
      path: /mnt/local/jit-cache
      type: DirectoryOrCreate
  - name: dshm
    emptyDir:
      medium: Memory
      sizeLimit: 2Gi

# PD disabled in this example
prefill:
  create: false
